// font chữ
$font_Titillium: Titillium Web;
$font_Rajdhani: Rajdhani;
// end

// color

$color-White: white;
$color-Gray: #ccc;
$color-Black: black;
$color-Aqua: Aqua;
$color-gray-dam: #333;
$color-timnhat: #adafca;
