.account-register {
  width: 484px;
  font-family: $font_Rajdhani;
  border-radius: 12px;
  background: $color-White;
  box-shadow: 0 0 60px 0 rgba(94, 92, 154, 0.12);
  position: absolute;
  right: 10%;
  padding: 64px;
  bottom: 0%;
  transition: opacity 0.5s ease;
  transition: visibility 0.5s ease;
  transition: transform 0.4s ease-out;
  opacity: 0;
  visibility: hidden;
  transform: translateX(50%);
  h2 {
    display: flex;
    justify-content: center;
  }
  .logo-rocket {
    position: absolute;
    top: -50px;
    left: -70px;
  }
  & form {
    margin-top: 76px;
    .form-register {
      display: flex;
      position: relative;
      align-items: center;
      .register {
        width: 22px;
        height: 22px;
        padding-left: 34px;
      }
      #register {
        &:checked {
          ~ {
            .img-x {
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
      .img-x {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 23px;
        height: 23px;
        left: 0;
        background: $color-Aqua;
        border-radius: 3px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.6s ease-in;
      }

      .label-register {
        margin-left: 10px;
        font-weight: 700;
        opacity: 0.8;
      }
    }
    .btn-register {
      width: 100%;
      height: 54px;
      border-radius: 10px;
      border: none;
      margin-top: 20px;
      background: $color-Aqua;
      color: $color-White;
      font-weight: 700;
    }
  }
  .text {
    margin-top: 30px;
    a {
      color: $color-Aqua;
      font-weight: 700;
    }
  }
}
